#container{
    margin-top: 20px;
}
#cnt{
    text-align: right;
    font-size: 15px;
}


#comapnyTitle{
    border-bottom: 2px dashed rgb(238, 152, 152);
}

#modify{
    text-align: right;
}
#companyLike{
    text-align: center;
}
#writer{
    font-family: initial;
    font-size: 12px;
}

.contents{
    border-right-width: thick;
    color: black;
}
.companyTable #comapnyTitle{
    color: black;
    font-size: 20px;
}

.companyTable{
    margin-top: 20px;
    width: 720px;
    border-top: 1px solid  rgb(216, 216, 216);
    border-collapse: collapse;
    border-spacing: 25px;
    font-size:15px;
    border-bottom: 1px solid  rgb(216, 216, 216);
    margin-bottom: 100px;
  
}
.companyTable tr th{
    width: 720px;
   
    height: 100px;
}


.companyTable #withContent{
    font-size: 20px;
}
#wReply{
    margin-top: 0%; 
   }

#wReply textarea{
    width:620px; 
    height: 50px;
    resize: none;
}

#wReply button{
    width:90px;
    height: 50px;
}

.tReply{
    margin-top: -10%;
}

.tReply #reContent{
    margin-top: 1%;
    width: 720px;
    border-bottom: 1px solid salmon;
    font-size: 15px;
}

