<div id="subWrap">
  <footer>
    <div class="foot_area box_inner">
      <ul class="foot_list clear">
        <li><a href=";">이용약관</a></li>
        <li><a href=";">개인정보 취급 방침</a></li>
      <h2>여행감(Go Trip!)</h2>
    </ul>
      <p class="addr">가산디지털단지 제이플라츠 5층
        <span class="gubun">/</span>
        <span class="br_line">대표전화
          <span class="space0">010-2923-0112</span>
          <span class="gubun">/</span>
          <span class="br_line">E-mail :
            <span class="space0">leesoobin@naver.com</span>
          </span>
        </span>
      </p>
      <p class="copy box_inner">Copyright(c) GoTrip</p>
      <!-- sns connect
        <ul class="snslink clear">
        <li><a href="">blog</a></li>
      </ul> -->
    </div>
  </footer>
</div>