<div id="subWrap">
  <div id="container">
      <div class="lnb" >
        <h1 class="bigTitle">
          <a href="/noticeboard">공지사항</a>
        </h1>
        <ul>
          <li  class="allNotice on"><a href="/noticeboard">공지사항</a></li>
        </ul>

  
      </div>
     </div>
      <!-- //lnb -->
      <div class="contents">
		        <table class="noticeTable">
              <colgroup>
                <col style="width:10%">
                <col style="width:25%">
                <col style="width:20%">
                <col style="width:10%">
                <col style="width:7%">
              </colgroup>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
              </tr>
              <tr>
                <td>테스트</td>
                <td>테스트테스트테테테스트</td>
                <td>테스트</td>
                <td>테스트</td>
                <td>테스트</td>
              </tr>
              
            </table>

            <!--Modal button -->
            <div class="col text-right">
              <button type="button" class="btn btn-outline-secondary mt-3" data-toggle="modal" data-target="#noticeModal" (click)="showModal()">
                글쓰기
              </button>
            </div>
      </div>
   

<!-- The Modal -->
<div class="modal fade" id="noticeModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">공지사항 작성</h4>
          <button type="button" class="close" (click)="hideModal()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body mb-3">
          <label>제목</label>
          <input type="text" name="lectureName" class="form-control mt-2 mb-3" maxlength="20">
          <label>내용</label>
          <textarea name="evaluationContent" class="form-control mt-2" maxlength="2048" style="height:300px;"></textarea>	
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" (click)="sendModal()" >등록</button>
          <button type="button" class="btn btn-outline-danger" (click)="hideModal()">취소</button>
  
          <!-- this button is hidden, used to close from typescript -->
          <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
        </div>
      </div>
    </div>
</div>

  