.contents h2{
    font-size: 30px;
    color: black;
}
#container{
    margin-top: 20px;
}

.contents{
    border-right-width: thick;
    color: black;
}
.noticeTable{
    border-top: 1px solid red;
    border-collapse: collapse;
    border-spacing: 25px;
    font-size:15px;
    border-bottom: 1px solid red;
    
}
th{
    padding:10px;
    height: 50px;
}

tr td{
    height: 50px;
    padding: 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

btn{
    text-align: right;
}
.modal {
    text-align: center;
    position: fixed;
    margin-top: 10%;
   
}
.modal-dialog {
    width: 80%;
    height: 70%;
    margin: auto;
    padding: 0;
    z-index: -9999;
    
  }
  
  .modal-content {
    height: auto;
    min-height: 70%;
    z-index: -9999;
  }

