body{
    text-align: center;
  }
  table{
    width:500px;
    margin:auto;
    text-align: center;
    border: 1px solid rgb(255, 142, 142);
  }
  input{
    width:450px;
    height: 45px;
  }
  label{
    font-size: 15px;
  }
  select{
    
      width:450px;
      height: 45px;
    
  }