@charset "utf-8";

/* title_area */
h3.title{position:relative;display:block;font-size:32px;font-weight:700;line-height:1;color:#333;margin:0 0 24px;}
.title_area h3.title{letter-spacing:-1px;padding-bottom:22px;}
.title_area h3.title:after{content:'';position:absolute;bottom:0;left:0;display:block;width:20px;height:1px;background:#333;}
.title_area p{display:block;font-size:16px;color:#777;line-height:24px;word-break:keep-all;word-wrap:break-word;}

#main_visual{overflow:hidden;}
#main_visual,
#main_visual li{width:100% !important;height:590px;}
#main_visual .bg{width:100%;height:590px;background-position:center;background-repeat:no-repeat;-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);-webkit-transition:all 7s ease-in-out;transition:all 7s ease-in-out;}
#main_visual .bg .cover{position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:#000;opacity:0.3;filter:alpha(opacity=30);}
#main_visual .activePage .bg{-webkit-transform:scale(1.1) rotate(.02deg);-moz-transform:scale(1.1) rotate(.02deg);transform:scale(1.1) rotate(.02deg);}

.main_visual{position:relative;width:100%;min-width:1090px;height:590px;margin:0 auto;}
.main_visual .ie8{display:none;}
.main_visual .default_copy{z-index:2;position:absolute;top:0;left:0;right:0;bottom:0;}
.main_visual .default_copy p{display:block;width:204px;height:48px;font:normal 0/0 arial;background:url('//img.tourtips.com/images/pc/main/txt_defaultcopy.png') no-repeat;}
.main_visual .default_copy span{z-index:1;position:absolute;top:0;right:0;bottom:0;left:0;background:#000;opacity:0.3;filter:alpha(opacity=30);}
.main_visual .default_copy strong{display:block;font-size:50px;color:#FFF;letter-spacing:-1px;font-weight:300;line-height:1;margin-bottom:50px;}
.main_visual .default_copy strong em{display:block;font-size:78px;font-weight:700;margin-top:14px;}
.main_visual .default_copy .in{z-index:2;position:absolute;bottom:95px;left:50%;width:1090px;margin:0 0 0 -545px;}
.main_visual .anythingSlider{width:100% !important;}
.main_visual .anythingSlider-default .arrow{display:none !important;}
.main_visual .anythingSlider-default .anythingControls{z-index:5;position:absolute;bottom:95px;left:50%;width:1090px;text-align:right;margin-left:-545px;}
.main_visual .anythingSlider-default .anythingControls ul{margin:0;}
.main_visual .anythingSlider-default .anythingControls ul a{width:30px;height:2px;font:normal 0/0 arial;margin:0 0 0 4px;background:#e7e7e7;transition:all 0.5s;}
.main_visual .anythingSlider-default .anythingControls ul a.cur{width:70px;background:#e74803;}
.main_visual .banner_copy{z-index:2;position:absolute;bottom:135px;left:50%;width:1090px;margin-left:-545px;}
.main_visual .banner_copy p,
.main_visual .banner_copy strong{display:block;line-height:1;color:#FFF;}
.main_visual .banner_copy p{font-size:48px;font-weight:100;margin:0 0 13px;}
.main_visual .banner_copy strong{font-size:74px;font-weight:700;letter-spacing:-1px;margin:0 0 23px;}
.main_visual .banner_copy a{z-index:2;position:relative;display:inline-block;width:124px;height:36px;font-size:16px;line-height:33px;text-indent:18px;color:#FFF;box-sizing:border-box;border:2px solid #FFF;background:url('//img.tourtips.com/images/pc/main/ico_bannerBtn.png') 100px center no-repeat;}
.main_visual .banner_copy a .btn_cover{z-index:1;position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:#FFF;opacity:0.2;filter:alpha(opacity=20);}
@media \0screen {
    .main_visual .ie8{z-index:2;position:absolute;bottom:-105px;left:0;display:block;width:100%;height:200px;background:url('//img.tourtips.com/images/pc/main/shadow_cityQuick.png') center no-repeat;}
}

/* city_quickmenu */
.city_quickmenu{z-index:3;position:relative;width:1090px;margin:-65px auto 80px auto;}
.city_quickmenu ul{display:block;height:130px;background:#FFF;-webkit-box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.12);-moz-box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.12);box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.12);}
.city_quickmenu ul li{position:relative;float:left;display:inline-block;width:181px;height:130px;font-size:16px;color:#232323;font-weight:500;text-align:center;padding-top:22px;box-sizing:border-box;border-left:1px solid #e5e5e5;}
.city_quickmenu ul li:first-child{border:0;}
.city_quickmenu ul li span{display:block;width:52px;height:50px;margin:0 auto 17px auto;overflow:hidden;background:url('//img.tourtips.com/images/pc/main/spr_cityQuick.png') no-repeat;}
.city_quickmenu ul li.korea,
.city_quickmenu ul li.southpacific,
.city_quickmenu ul li.southeastAsia{width:182px;}
.city_quickmenu ul li.asia{width:182px;}
.city_quickmenu ul li.asia span{background-position:0 center;}
.city_quickmenu ul li.korea span{width:50px;background-position:-250px center;}
.city_quickmenu ul li.europe span{width:30px;background-position:-100px center;}
.city_quickmenu ul li.americas span{width:35px;background-position:-60px center;}
.city_quickmenu ul li.southeastAsia span{width:46px;background-position:-140px center;}
.city_quickmenu ul li.southpacific span{width:53px;background-position:-190px center;}
.city_quickmenu .cityListLayer{z-index:20;position:absolute;top:0;left:0;display:none;width:1090px;background:#FFF;transition:all 0.3s;}
.city_quickmenu .tourCityBox{margin-bottom:0;}

/* search_section */
.search_section{z-index:2;position:relative;width:1090px;margin:0 auto 70px auto;}
.search_section .search_tab{height:53px;border-bottom:1px solid #ff4f02;}
.search_section .search_tab ul{display:block;}
.search_section .search_tab li{float:left;display:inline-block;width:204px;height:53px;box-sizing:border-box;margin:0 0 0 -1px;border:1px solid #ff4f02;border-width:1px 1px 0;}
.search_section .search_tab li a{display:block;width:100%;height:100%;text-align:center;font-size:18px;color:#ff4f02;line-height:53px;box-sizing:border-box;vertical-align:middle;}
.search_section .search_tab li a:hover,.search_section .search_tab li a.on{color:#FFF;background-color:#ff4f02;}
.search_section .search_tab li i{display:inline-block;width:26px;height:24px;vertical-align:middle;margin-right:13px;background:url('//img.tourtips.com/images/pc/main/spr_searchTab.png') no-repeat;}
.search_section .search_tab li.air i{width:28px;background-position:-26px 0;}
.search_section .search_tab li.hotel{margin:0;}
.search_section .search_tab li.air a:hover i,
.search_section .search_tab li.air a.on i{background-position:-26px -25px;}
.search_section .search_tab li.hotel a:hover i,
.search_section .search_tab li.hotel a.on i{background-position:0 -25px;}
.search_section .search_conts{padding:25px 0 0 0;}
.search_section .search_conts .search_box{display:none;}

/* mainAd */
#mainAd{z-index:1;position:relative;width:1090px;height:auto;margin:0 auto 80px auto;overflow:hidden;}
#mainAd .anythingSlider{height:auto !important;}
#mainAd .anythingWindow{height:73px;}
#mainAd .anythingWindow li{width:1090px !important;overflow:hidden;}
#mainAd .anythingWindow li a{display:block;width:1090px;overflow:hidden;}
#mainAd .anythingSlider-default .anythingControls:after{content:'';display:block;clear:both;}

/* theme_section */
.theme_section{width:1090px;margin:0 auto 105px auto;}
.theme_section:after{content:'';display:block;clear:both;}
.theme_section .title_area{float:left;display:inline-block;width:220px;}
.theme_section .title_area p{width:200px;}
.theme_section .title_area h3.title{line-height:140%;word-break:keep-all;}
.theme_section .theme_group ul{display:block;}
.theme_section .theme_group ul:after{content:'';display:block;clear:both;}
.theme_section .theme_group li{float:left;display:inline-block;width:270px;margin-left:20px;overflow:hidden;}
.theme_section .theme_group li{position:relative;transition:transform 0.4s;}
.theme_section .theme_group li:hover{transform:translate(0, -10px);}
.theme_section .theme_group li a{display:block;background:transparent;}
.theme_section .theme_group .thumb_wrap{position:relative;width:270px;height:320px;margin:0 0 20px;}
.theme_section .theme_group .thumb_wrap span{z-index:3;position:absolute;bottom:25px;left:18px;right:18px;display:block;font-size:16px;color:#FFF;line-height:120%;}
.theme_section .theme_group .thumb{z-index:1;position:absolute;top:50%;display:block;width:320px;height:320px;overflow:hidden;margin:-160px 0 0 -25px;background:#EBEBEB;}
.theme_section .theme_group .thumb:before{content:'';z-index:2;position:absolute;top:0;right:0;display:block;width:100%;height:100%;background:url('//img.tourtips.com/images/pc/main/cover_theme.png') 0 bottom repeat-x;}
.theme_section .theme_group .thumb .in{z-index:1;display:table;position:absolute;top:50%;left:50%;width:1000%;height:500%;text-align:center;margin:-250% 0 0 -500%;}
.theme_section .theme_group .thumb .thumb_img{display:table-cell;width:100%;height:100%;vertical-align:middle;}
.theme_section .theme_group .thumb .thumb_img img{width:auto;min-width:320px;height:320px;vertical-align:middle;}
.theme_section .theme_group .title{font-size:17px;color:#555;line-height:26px;overflow:hidden;word-break:keep-all;word-wrap:break-word;}

/* best_city */
.best_city{margin-bottom:140px;background:url('//img.tourtips.com/images/pc/main/bg_bestCity.jpg') center 0 no-repeat;}
.best_city .in{position:relative;width:1090px;padding-top:40px;margin:0 auto;}
.best_city .title_area{position:absolute;top:74px;left:480px;}
.best_city .bestCity_group{overflow:hidden;}
.best_city .bestCity_group ul{display:block;width:1200px;margin-left:-20px;}
.best_city .bestCity_group ul:after{content:'';display:block;clear:both;}
.best_city .bestCity_group li{float:left;position:relative;display:block;width:257px;height:257px;margin:20px 0 0 20px;overflow:hidden;}
.best_city .bestCity_group li a{position:relative;display:block;width:100%;height:100%;}
.best_city .bestCity_group li a div{}
.best_city .bestCity_group li a div span{content:'';z-index:2;position:absolute;top:0;left:0;display:block;width:100%;height:100%;opacity:0.6;transition:all 0.3s;filter:alpha(opacity=60);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.best_city .bestCity_group li a:hover div span{opacity:0.9;filter:alpha(opacity=90);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.best_city .bestCity_group li a div img{z-index:1;position:absolute;top:50%;left:0;width:257px;margin-top:-155px;}
.best_city .bestCity_group li a div p{z-index:3;position:absolute;bottom:30px;left:30px;right:30px;color:#FFF;line-height:24px;font-size:18px;font-weight:300;}
.best_city .bestCity_group li a div p strong{display:block;font-size:26px;font-weight:300;margin-bottom:5px;}
.best_city .bestCity_group li.rank_01{width:430px;height:520px;}
.best_city .bestCity_group li.rank_01 a div img{width:100%;top:0;margin:0;}
.best_city .bestCity_group li.rank_02, .best_city li.rank_03{width:310px;height:310px;margin-top:230px;}
.best_city .bestCity_group li.rank_02 a div img, .best_city li.rank_03 a div img{width:310px;height:auto;margin-top:-187px;}

/* special_offers */
.special_offers{width:1090px;margin:0 auto 100px auto;}
.special_offers:after{content:'';display:block;clear:both;}
.special_offers .title_area{float:left;display:inline-block;width:200px;}
.special_offers .special_group{float:right;display:inline-block;width:870px;}
.special_offers .special_group ul{display:block;margin:-20px 0 0 0;}
.special_offers .special_group ul:after{content:'';display:block;clear:both;}
.special_offers .special_group li{float:left;display:inline-block;width:270px;height:310px;margin:20px 0 0 20px;}
.special_offers .special_group li a{position:relative;display:block;width:100%;height:100%;}
.special_offers .special_group li a .border{position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #000;opacity:0.1;filter:alpha(opacity=10);transition:all 0.4s;box-sizing:border-box;}
.special_offers .special_group li a:hover .border{position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #000;opacity:0.3;filter:alpha(opacity=30);}
.special_offers .special_group .price{display:block;font-size:25px;line-height:1;}
.special_offers .special_group .price em{color:#ff4f02;font-weight:700;}
.special_offers .special_group .thumb_wrap{position:relative;width:270px;height:200px;overflow:hidden;}
.special_offers .special_group .thumb_wrap .thumb{position:absolute;top:50%;display:block;width:270px;height:270px;overflow:hidden;margin:-135px 0 0 0;background:#ebebeb;}
.special_offers .special_group .thumb_wrap .thumb .in{z-index:1;display:table;position:absolute;top:50%;left:50%;width:1000%;height:500%;text-align:center;margin:-250% 0 0 -500%;}
.special_offers .special_group .thumb_wrap .thumb .thumb_img{display:table-cell;width:100%;height:100%;vertical-align:middle;}
.special_offers .special_group .thumb_wrap .thumb .thumb_img img{width:270px;min-height:200px;vertical-align:middle;}
.special_offers .special_group .thumb img{width:100%;height:auto;}
.special_offers .special_group .flag{z-index:2;position:relative;margin:-15px 0 0 18px;}
.special_offers .special_group .flag img{width:45px;height:auto;}
.special_offers .special_group .info{padding:20px;}
.special_offers .special_group .info .city{display:block;font-size:18px;line-height:1;margin:0 0 11px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.special_offers .special_group .airlines{width:415px;height:250px;}
.special_offers .special_group .airlines a{padding:0 20px;box-sizing:border-box;overflow:hidden;}
.special_offers .special_group .airlines .airline{display:block;color:#1cbbb4;font-size:16px;font-weight:500;line-height:1;margin:28px 0 11px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.special_offers .special_group .airlines .title{display:block;font-weight:normal;font-size:21px;color:#222;line-height:1;padding-top:1px;margin:0 0 27px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.special_offers .special_group .airlines .price{margin-bottom:8px;}
.special_offers .special_group .airlines .city{display:block;font-size:14px;color:#666;line-height:1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.special_offers .special_group .airlines .add_info{position:absolute;bottom:0;left:0;right:0;height:61px;color:#888;font-size:14px;line-height:24px;padding:12px 18px 0 18px;border-top:1px solid #e3e3e3;}

/* free_event */
.free_event{width:1090px;margin:0 auto 100px auto;}
.freeEventArea{position:relative;}
.freeEventArea a.freeEventLink{z-index:10;position:absolute;top:0;left:0;width:350px;height:429px;background:transparent url('//img.tourtips.com/images/pc/event/blank.png');}
.freeEventArea a.freeEventLink .border{position:absolute;top:0;left:0;width:348px;height:427px;border:1px solid #000;opacity:0.1;filter:alpha(opacity=10);}
.freeEventArea a.freeEventLink:hover .border{opacity:0.2;filter:alpha(opacity=20);transition:all 0.3s;}
.freeEventArea ul{display:block;}
.freeEventArea ul:after{content:'';display:block;clear:both;}
.freeEventArea ul li{position:relative;float:left;display:inline-block;width:350px;height:429px;margin:0 0 0 20px;overflow:hidden;}
.freeEventArea ul li:first-child{width:350px;margin:0;}
.freeEventArea span.mark{z-index:20;position:absolute;top:0;right:20px;display:block;width:60px;height:80px;font:normal 0/0 arial;background:url('//img.tourtips.com/images/pc/event/spr_event.png') -360px -30px no-repeat;}
.freeEventArea span.mark.finish{background-position:-420px -30px;}
.freeEventArea .freeEvent{position:relative;width:100%;height:100%;}
.freeEventArea .freeEvent .preview{position:relative;width:350px;height:257px;}
.freeEventArea .freeEvent .preview i.mark{z-index:3;position:absolute;display:block;font:normal 0/0 arial;background:url('//img.tourtips.com/images/pc/event/spr_event.png') -360px -30px no-repeat;}
.freeEventArea .freeEvent .preview i.mark{top:246px;left:20px;width:50px;height:22px;background-position:0 0;}
.freeEventArea .freeEvent .preview .thumb{z-index:1;position:relative;display:block;width:100%;height:257px;overflow:hidden;}
.freeEventArea .freeEvent .preview .thumb img{height:262px;margin-top:-4px;}
.freeEventArea .freeEvent .preview .cover{z-index:2;position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:url('//img.tourtips.com/images/pc/event/cover_thumb.png') 0 0  repeat-x;}
.freeEventArea .freeEvent.air .preview i.mark{background-position:-60px 0;}
.freeEventArea .freeEvent.show .preview i.mark{background-position:-120px 0;}
.freeEventArea .freeEvent.ticket .preview i.mark{width:74px;background-position:-180px 0;}
.freeEventArea .freeEvent .eventInfo{padding:25px 20px 20px 20px;}
.freeEventArea .freeEvent .eventInfo .title{display:block;height:18px;font-size:18px;line-height:18px;font-weight:normal;*padding-top:2px;margin:0 0 8px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.freeEventArea .freeEvent .eventInfo ul{line-height:22px;}
.freeEventArea .freeEvent .eventInfo ul li{display:block;width:auto;height:auto;margin:0;}
.freeEventArea .freeEvent .eventInfo ul li:first-child{width:auto;height:auto;}
.freeEventArea .freeEvent .eventInfo ul li strong{float:left;display:inline-block;width:69px;text-align:left;font-weight:normal;color:#777;}
.freeEventArea .freeEvent .eventInfo ul li p{display:inline-block;width:241px;text-align:right;}
.freeEventArea .freeEvent .eventInfoBottom span{float:right;display:inline-block;width:100px;height:35px;color:#FFF;font-weight:500;line-height:35px;text-align:center;background:#15cfa1;}
.freeEventArea .freeEvent .eventInfoBottom span.viewWinner{background:#f37720;}
.freeEventArea .freeEvent .eventInfoBottom{position:absolute;bottom:2px;left:1px;width:308px;height:35px;padding:10px 20px;border-top:1px solid #ececec;}
.freeEventArea .freeEvent .eventInfoBottom .totalCount{float:left;display:inline-block;font-size:16px;margin-top:11px;}
.freeEventArea .freeEvent .eventInfoBottom .totalCount em{font-weight:500;color:#ff4f02;}

/* free_book */
.free_book{height:671px;margin:0 0 100px;background:#4d5965 url('//img.tourtips.com/images/pc/main/bg_bookArea.jpg') center no-repeat;overflow:hidden;}
.free_book h3{display:block;color:#FFF;line-height:1;font-size:40px;font-weight:700;letter-spacing:-1px;padding:78px 0 30px 0;}
.free_book .in{width:1090px;text-align:center;margin:0 auto;}
.free_book .count_area{margin:0 0 60px;}
.free_book .count_area ul{display:block;}
.free_book .count_area ul:after{content:'';display:block;clear:both;}
.free_book .count_area ul li{float:left;display:inline-block;width:540px;height:90px;vertical-align:middle;margin-left:9px;background:#324051;}
.free_book .count_area ul li:before{content:'';display:inline-block;width:0;height:100%;vertical-align:middle;}
.free_book .count_area ul li i{display:inline-block;width:50px;height:50px;vertical-align:middle;margin-right:14px;background:url('//img.tourtips.com/images/pc/main/ico_download.png') no-repeat;}
.free_book .count_area ul li em{position:relative;display:inline-block;color:#ff4f02;font-size:32px;line-height:1;font-weight:700;margin-right:10px;vertical-align:middle;}
.free_book .count_area ul li span{display:inline-block;color:#FFF;font-size:18px;line-height:1;vertical-align:middle;}
.free_book .count_area ul li:first-child{margin:0;}
.free_book .count_area ul li:first-child i{background:url('//img.tourtips.com/images/pc/main/ico_city.png') no-repeat;}
.free_book .book_area .book_tab{margin:0 0 40px;}
.free_book .book_area .book_tab ul{display:block;text-align:center;}
.free_book .book_area .book_tab ul:after{content:'';display:block;clear:both;}
.free_book .book_area .book_tab li{display:inline-block;line-height:1;margin-left:60px;}
.free_book .book_area .book_tab li:first-child{margin:0;}
.free_book .book_area .book_tab li a{position:relative;font-size:16px;color:#FFF;padding:0 0 6px;box-sizing:border-box;transition:all 0.3s;}
.free_book .book_area .book_tab li a:before{content:'';z-index:2;position:absolute;bottom:0;left:0;display:block;width:100%;height:2px;background:#ff4f02;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;}
.free_book .book_area .book_tab li a:hover{color:#ff4f02;}
.free_book .book_area .book_tab li a:hover:before{-webkit-transform: scaleX(1);transform: scaleX(1);}
.free_book .book_area .book_tab li.on a{color:#ff4f02;font-weight:500;}
.free_book .book_area .book_tab li.on a:before{opacity:1;-webkit-transform: scaleX(1);transform: scaleX(1);}
@media \0screen {
    .free_book .book_area .book_tab li a:before{display:none;}
    .free_book .book_area .book_tab li a:hover:before, .free_book .book_area .book_tab li.on a:before{display:block;}
}
.free_book .book_slides{min-height:211px;}
.free_book .book_slides .anythingWindow{width:1090px;}
.free_book .book_slides .anythingWindow ul{display:block;height:211px;white-space:nowrap;}
.free_book .book_slides .anythingWindow li a{float:left;display:block;width:149px !important;height:211px;margin-left:86px;}
.free_book .book_slides .anythingWindow li a:first-child{margin:0;}
.free_book .book_slides .anythingWindow li a img{width:149px;height:auto;}
.free_book .book_slides .anythingSlider-default .anythingControls a{background-color:#858c94;}
.free_book .book_slides .anythingSlider-default .anythingControls a.cur{background-color:#FFF;}
.free_book .book_slides .anythingSlider-default .arrow a{height:18px;background:url('//img.tourtips.com/images/pc/main/spr_freeBook.png') 0 0 no-repeat;}
.free_book .book_slides .anythingSlider-default .forward a{background-position:100% 0;}
.free_book .book_slides .anythingSlider-default .anythingControls{margin-top:44px;}
.free_book .book_slides .anythingSlider-default .back{margin-right:22px;}
.free_book .book_slides .anythingSlider-default .forward{margin-left:22px;}
.free_book .book_slides .book_box{width:1090px;height:211px;}
#book_01, #book_02, #book_03, #book_04, #book_05, #book_06{display:block;height:211px !important;}

/* for_trip */
.for_trip{width:1090px;margin:0 auto 208px auto;}
.for_trip:after{content:'';display:block;clear:both;}
.for_trip .trip_tab{float:left;width:800px;display:inline-block;}
.for_trip .trip_tab:after{content:'';display:block;clear:both;}
.for_trip .trip_tab .trip_menu{float:left;display:inline-block;width:200px;height:326px;box-sizing:border-box;overflow:hidden;}
.for_trip .trip_tab .trip_menu ul{display:block;width:180px;}
.for_trip .trip_tab .trip_menu li{display:block;height:64px;border-bottom:1px solid #e3e3e3;}
.for_trip .trip_tab .trip_menu li a{position:relative;display:block;width:100%;height:100%;font-size:16px;color:#222;line-height:64px;text-indent:10px;transition:all 0.2s;}
.for_trip .trip_tab .trip_menu li a:after{content:'';position:absolute;top:50%;left:165px;width:5px;height:9px;margin-top:-4px;opacity:0;filter:alpha(opacity=0);background:url('//img.tourtips.com/images/pc/main/ico_tripMenu.png') no-repeat;transition:all 0.2s;}
.for_trip .trip_tab .trip_menu li a:hover, .for_trip .trip_tab .trip_menu li a:hover:after,
.for_trip .trip_tab .trip_menu li a.on, .for_trip .trip_tab .trip_menu li a.on:after{font-weight:500;color:#ff4f02;opacity:1;filter:alpha(opacity=100);}
.for_trip .trip_tab .trip_conts{position:relative;float:right;display:inline-block;width:600px;height:326px;}
.for_trip .trip_tab .trip_conts .trip_box{display:none;position:absolute;top:0;left:0;display:none;width:100%;height:100%;font:normal 0/0 arial;}
.for_trip .openEditor{float:right;display:inline-block;width:270px;height:326px;color:#FFF;padding:25px 20px 25px 17px;box-sizing:border-box;background:#505a66 url('//img.tourtips.com/images/pc/main/bg_forTrip.jpg') right bottom no-repeat;}
.for_trip .openEditor strong{display:block;font-weight:normal;font-size:22px;line-height:30px;margin:0 0 7px;}
.for_trip .openEditor p{display:block;font-weight:700;font-size:36px;line-height:1;margin:0 0 14px;}
.for_trip .openEditor span{display:block;font-size:14px;line-height:20px;font-weight:300;margin:0 0 17px;}
.for_trip .openEditor a{display:block;width:100px;height:35px;line-height:35px;text-align:center;color:#FFF;font-size:14px;background:#15cfa1;}

/* download_section */
.download_section{position:relative;height:388px;background:#ff8f40;}
.download_section .bg_in{position:absolute;bottom:0;left:0;width:100%;height:478px;background:url('//img.tourtips.com/images/pc/main/bg_phone.png') center bottom no-repeat;}
.download_section .in{position:relative;width:1090px;height:100%;color:#FFF;padding:85px 0 0 0;margin:0 auto;box-sizing:border-box;}
.download_section strong{display:block;line-height:1;font-size:52px;letter-spacing:-0.5px;font-weight:700;margin:0 0 20px;}
.download_section p{display:block;line-height:25px;font-weight:300;font-size:18px;margin:0 0 28px;}
.download_section a{z-index:2;position:relative;float:left;display:inline-block;width:208px;height:60px;line-height:60px;color:#FFF;font-size:19px;font-weight:500;text-align:center;vertical-align:middle;margin-right:10px;overflow:hidden;}
.download_section a span{z-index:1;position:absolute;top:0;left:0;display:block;width:100%;height:100%;background-color:#FFF;opacity:0.2;filter:alpha(opacity=20);transition:all 0.3s;}
.download_section a:hover span{opacity:0.1;filter:alpha(opacity=10);transition:all 0.5s;}
.download_section a i{display:inline-block;width:27px;height:60px;margin-right:10px;vertical-align:middle;background:url('//img.tourtips.com/images/pc/main/spr_download.png') 0 center no-repeat;}
.download_section a.appstore i{background-position:100% center;}
