
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Swiper demo</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

  <!-- Demo styles -->
  <style>
    
  </style>
</head>
<body>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRT5DQ5IW0qBc2HWoLhTKGzlEJgexpkSk3GJtP2zFY9VXSC6Xx"></div>
      <div class="swiper-slide"><img src="http://image.chosun.com/sitedata/image/201808/08/2018080801525_1.jpg"></div>
      <div class="swiper-slide"><img src="http://image.chosun.com/sitedata/image/201808/08/2018080801525_2.jpg"></div>
      <div class="swiper-slide"><img src="https://postfiles.pstatic.net/20140523_169/teckwrap_1400821454869MOtgM_JPEG/%C0%CC%C7%C1%BF%C2%B8%AE_%C6%F7%BD%BA%C5%CD.jpg?type=w1"></div>
      <div class="swiper-slide"><img src="http://image.chosun.com/sitedata/image/201808/08/2018080801525_0.jpg"></div>
      <div class="swiper-slide"><img src="https://postfiles.pstatic.net/20140523_253/teckwrap_1400821638102c3ICO_JPEG/%C0%CC%C7%C1%BF%C2%B8%AE_%C1%A6%B4%CF%C6%DB%B9%AB%BA%F1.jpg?type=w1"></div>
      <div class="swiper-slide"><img src="https://post-phinf.pstatic.net/MjAxODEwMDhfNzcg/MDAxNTM4OTkxNDAzNTg0.dbclkZ89npkPt4x1zTiG_lFNlsDm9OdW757KX0PKkzkg.Fe6xwx8lkakx56tQSZCB5xZttBfZwObq6GAvQWaxFzgg.JPEG/mug_obj_1538991403752602.jpg?type=w1080"></div>
      <div class="swiper-slide"><img src="https://postfiles.pstatic.net/20140523_212/teckwrap_1400821784992X82mc_JPEG/%C0%CC%C7%C1%BF%C2%B8%AE_%C8%F7%B7%CE%C0%CE.jpg?type=w1"></div>
      <div class="swiper-slide"><img src="https://pds.joins.com//news/component/htmlphoto_mmdata/201711/14/56cb8c49-d757-49ae-beb6-fdd664e76404.jpg"></div>
      <div class="swiper-slide"><img src="http://file3.instiz.net/data/file3/2018/09/06/2/e/1/2e15bee787ea6758f27225ee3090549f.jpg"></div>
    </div>
  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container',
    {
      autoplay:{
        delay:5000,
      },
    });
  </script>
</body>
</html>