@font-face { 
    font-family: 'KOMACON'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

input{
    width: 280px;
    height: 35px;
    font-size: 20px;
    font-family: 'KOMACON';

}
