.contents h2{
    font-size: 30px;
    color: black;
}
.searchResult{
    border-top: 1px solid red;
    border-collapse: collapse;
    border-spacing: 25px;
    font-size:15px;
    border-bottom: 1px solid red;
    
    
}
th{
    padding:10px;
    height: 50px;
}

tr td{
    height: 50px;
    padding: 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

#bSearch{
   width:280px;
   height:35px ;
}