  <div id="subWrap">
      <div class="lnb" >
        <h1 class="bigTitle">
          <a href="/search">여행정보</a>
        </h1>
        <ul>
          <li><a href="/search">Youtube검색</a></li>
          <li class="allNotice on"><a href="/bsearch">Blog검색</a></li>
          <li><a href="/checkList">Check List</a></li>
        </ul>

  
      </div>
     
      <!-- //lnb -->
     
      <div class="contents">
        <h2>Blog 검색</h2>
        <br>
        <p style="font-size:15px;">Blog에서 여행에 대한 정보를 검색해보세요</p>
        <br>
          <input type="text" [(ngModel)]="searchWord" id="bSearch"> &nbsp;
          <button (click)="nsearch()" style="height:35px; width: 50px;" class="btn btn-outline-success">검색</button>
          <br><br>
          
        <table class="searchResult" style="width: 737px" id="searchResult">
          <colgroup>
            <col style="width:25%">
            <col style="width:50%">
             <col style="width:25%">
          </colgroup>
          <tr>
            <th scope="col" style="text-align:center;">제목</th>
            <th scope="col" style="text-align:center;">내용</th>
            <th scope="col" style="text-align:center;">작성자</th>
          </tr>
        </table>
        <div id="pagin" [innerHTML]="phtml">
          
        </div>
      
    </div>
            </div>

  