<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
    <input name="myFile" type="file">
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />
   
    <input type="tel" id="phone" name="phone"
       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890"
       required>
    <input type="date">  
       <form>
        <input type="radio" name="gender" value="male" checked> Male
        <input type="radio" name="gender" value="female"> Female
        <input type="radio" name="gender" value="other"> Other
      </form>
    
    <input type="submit" name="signup_submit" value="Sign me up" />
  </div>
 
</div>