#container{
    margin-top: 20px;
}

.contents{
    border-right-width: thick;
    color: black;
}
table{
    border-top: 1px solid rgb(1, 143, 20);
    border-collapse: collapse;
    border-spacing: 25px;
    font-size:15px;
    border-bottom: 1px solid rgb(1, 143, 20);
    margin-bottom: 100px;
}
th{
    padding:10px;
    height: 50px;
}

tr td{
    height: 50px;
    padding: 10px;
    border-top: 1px solid rgb(221, 221, 221);
}

btn{
    text-align: right;
}


.rating {
    float:left;
    border: 0ex;
  }
  
  .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
  }
  
  .rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
  }
  
  .rating:not(:checked) > label:before {
    content: '★ ';
  }
  
  .rating > input:checked ~ label {
    color: #f70;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: gold;
  }
  
  
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
  }