@charset "utf-8";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
 }

*{font-family:"Noto Sans KR","Malgun Gothic","맑은고딕",helvetica,arial,sans-serif, "돋움",Dotum,"굴림",Gulim,HelveticaDotum;}

/* default set */
html{height:100%;margin:0;padding:0;background:#FFF;}
body{min-width:1090px;height:100%;color:#232323;margin:0;padding:0;overflow-y:scroll;}

/* 레이어 팝업 예외처리 */
#skyscanner-white-label,
/*html.fixed{overflow:hidden;}*/
html.fixed #header{z-index:1;position:relative;}
html.fixed #gnb,
html.fixed .pageDesc.fixed{position:relative;z-index:1;}
html.fixed .goTop{display:none;}
html.fixed #footer{z-index:0;}

/* default set */
body, table, input, textarea, button{letter-spacing:0;}
body,div,ul,ul li,p,ol,ol li , li , dl, dl dt, dl dd, h1, h2, h3, h4, h5, h6 ,form, fieldset,button{margin: 0;padding: 0;font-weight:normal;}
html, body{font-size:14px;line-height:1em;text-align: left;}
ul, ul li, ol, ol li{list-style-type: none}
caption,legend,hr{display:none;}
button{border: 0 none;background: none;cursor: pointer;outline:none;}
input{font-size:14px;margin:0;padding:0;outline:0;border:1px solid #d6d6d6;outline:none;}
input:focus{font-size:14px;margin:0;padding:0;outline:0;border:1px solid #f37720;outline:none;}
a,
a:link{text-decoration: none;color: #232323;cursor: pointer;}
a:hover{text-decoration: none}
img, fieldset{border: 0;}
a img{border: 0 none;}
em{font-style:normal;}
table{table-layout:fixed;}
table, th, td{margin:0;padding:0;border-collapse:collapse;}
/* forms */
form,fieldset               { margin:0; padding:0; border:0}
legend                      { display:none}
input,textarea              { font-weight:normal; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
input[type="file"]          { font-size:12px; font-weight:normal; line-height:12px}
textarea                    { height:auto}
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="file"],
input[type="tel"]{
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #d5d5d5;outline:none;
   }


/* header */
#header{z-index:9999;position:relative;height:188px;}
#header .headTop{position:relative;width:1090px;height:180px;margin:0 auto;}
#header .headTop .logo{position:absolute;top:0;left:50%;display:block;width:304px;height:100%;margin-left:-152px;}
#header .headTop .logo a{display:block;width:100%;height:100%;font:normal 0/0 arial;text-align:center;}
#header .headTop .logo a:hover{color:#232323;}
#header .headTop .logo a img{display:block;margin:0 auto; margin-top:10%;}
#header #search{position:absolute;top:48px;left:0;box-shadow:none;background:none;border:none;}
#header #search .round{position:relative;display:block;width:218px;height:32px;border:1px solid #c1c1c1;border-radius:25px;}
#header #search .round input{position:absolute;top:3px;left:13px;width:167px;height:26px;border:none;box-shadow:none;padding:0;margin:0;}
#header #search .round button{position:absolute;top:3px;left:185px;display:block;width:27px;height:27px;text-indent:-9999px;font:0/0 arial;background:url('//img.tourtips.com/images/cm/spr_ico_common.png') 5px 5px no-repeat;}
#header .loginArea{position:absolute;top:59px;right:0;width:120px;vertical-align:middle;white-space:nowrap;}
#header .loginArea a,
#header .loginArea span{float:left;display:inline-block;height:14px;color:#232323;line-height:14px;letter-spacing:0;font-size:14px;vertical-align:middle;}
#header .loginArea span{color:#e5e5e5;padding:0 11px;}
#header .myInfo{position:absolute;top:48px;right:0;}
#header .myInfo p{font-size:14px;color:#232323;text-align:right;margin:2px 10px 4px 47px;}
#header .myInfo ul{margin:0 0 0 47px;}
#header .myInfo li{position:relative;float:left;display:inline-block;padding:0 9px;background:url('//img.tourtips.com/images/cm/bg_myInfo.gif') left center no-repeat;}
#header .myInfo li:first-child{padding-left:0;background:none;}
#header .myInfo li a{display:inline-block;color:#777;font-size:12px;}
#header .myInfo li a:hover{text-decoration:underline;}
#header .myInfo .profilePhoto{position:absolute;top:0;left:0;width:34px;height:34px;overflow:hidden;background-color:#e4e4e4;}
#header .myInfo .profilePhoto .cover{z-index:2;position:absolute;top:0;left:0;display:block;width:34px;height:34px;background:url('//img.tourtips.com/images/cm/bg_profilePhoto.png');}
#header .myInfo .profilePhoto img{z-index:1;position:absolute;top:0;left:0;width:34px;}
#header .myInfo .selectMypage{display:none;z-index:100;position:absolute;top:23px;left:0;width:154px;background:#FFF;border:1px solid #898989;}
#header .myInfo .selectMypage ul{display:block;margin:0;}
#header .myInfo .selectMypage ul li{float:none;display:block;width:100%;height:24px;padding:0;margin:0;clear:both;}
#header .myInfo .selectMypage ul li a{display:block;width:100%;height:100%;line-height:24px;text-indent:11px;font-size:12px;color:#232323;}
#header .myInfo .selectMypage ul li a:hover{background:#eee;text-decoration:none;}


/* container */
#container{z-index:10;position:relative;width:1091px;margin:-44px auto 0 auto;}
.more{position:absolute;top:3px;right:0;text-align:right;color:#898989;font-size:12px;}

/* subWrap */
#subWrap{position:relative;width:1090px;padding-top:40px;;margin:auto;*zoom:1;}
#subWrap:after{content:'';display:block;clear:both;}
#subWrap.wide{width:100%;}
#subWrap.wide #contentWrap{width:1090px;margin:0 auto;}

/* contentWrap */
#contentWrap{margin:40px 0;}

/* lnb */
.lnb{float:left;display:inline-block;width:200px;padding-top:30px;}
.lnb ul{display:block;margin:0 0 20px;*zoom:1;}
.lnb ul:after{content:'';display:block;clear:both;}
.lnb li{display:block;width:182px;min-height:36px;}
.lnb li a{position:relative;display:block;width:182px;height:36px;font-size:16px;color:#555;line-height:36px;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.lnb li a span{position:absolute;bottom:7px;left:0;width:0;height:1px;background:#ff4f02;transition:all 0.3s;}
.lnb li a:hover,
.lnb li.on a{color:#ff4f02;}
.lnb a:hover span,
.lnb li.on a span{width:100%;}
.lnb li a .new{display:inline-block;width:13px;height:13px;font:normal 0/0 arial;vertical-align:middle;margin-left:5px;background:url('//img.tourtips.com/images/cm/ico/ico_new.png') no-repeat;}
.lnb .adv{margin:0 0 20px;}
.lnb .adv a{display:block;width:100%;height:90px;font:normal 0/0 arial;}
.lnb .adv img{display:block;width:200px;height:auto;}
.lnb.fixed{z-index:90;position:fixed;top:108px;}
.lnb.fixed.bottom{position:absolute;bottom:0;left:0;top:inherit;}
.lnb.absolute,
.lnb.fixed.absolute{position:absolute;top:inherit;bottom:20px;height:auto;}
.lnb .lnbTitle{display:block;height:26px;font:500 26px/26px "Noto Sans KR";color:#232323;margin:12px 0 18px 0;}
.lnb .myNotice{padding-top:10px;margin-top:7px;border-top:1px solid #ececec;}
.lnb .myScrap{padding-bottom:9px;margin-bottom:11px;border-bottom:1px solid #ececec;}
.lnb .line2{height:51px;}
.lnb .line2 a{width:167px;height:auto;text-indent:0;line-height:20px;padding-left:16px;margin-top:10px;}
.lnb .line2 a.on{background-position:100% 4px;}
.lnb .withdraw{padding-top:10px;margin-top:7px;border-top:1px solid #ececec;}
.lnb .withdraw a{color:#777;}
.lnb .bigTitle{height:auto;letter-spacing:-1px;margin:0 0 27px;}
.lnb .bigTitle a{position:relative;position:relative;display:block;width:182px;color:#232323;height:auto;line-height:120%;margin:-2px 0 0 0;font-size:26px;text-indent:0;overflow:inherit;white-space:normal;}
.lnb li .depth3{display:none;margin:0 0 10px;border-bottom:1px solid #e3e3e3;}
.lnb li .depth3 ul{display:block;padding-left:15px;margin:0 0 16px;}
.lnb li .depth3 ul:after{content:'';display:block;clear:both;}
.lnb li .depth3 ul li{display:block;height:40px;}
.lnb li .depth3 ul li a{display:block;height:100%;width:100%;line-height:40px;color:#777;font-size:14px;padding-left:13px;background:url('//img.tourtips.com/images/pc/cm/bu_lnb_grey.gif') 0 center no-repeat;}
.lnb li .depth3 ul li a:hover{color:#ff4f02;}
.lnb li .depth3 ul li a.on{color:#ff4f02;background:url('//img.tourtips.com/images/pc/cm/bu_lnb_orange.gif') 0 center no-repeat;}
.lnb li.on .depth3{display:block;}
.lnb .btn_memberOut{display:inline-block;width:auto;height:30px;line-height:27px;color:#777;font-size:14px;padding:0 13px;margin:0 0 20px;box-sizing:border-box;border-radius:30px;border:1px solid #ddd;}
.body .lnb{padding-top:0;}

/* contents */
#subWrap .contents{float:right;width:804px;min-height:800px;color:#777;padding:30px 0 40px 66px;border-left:1px solid #e3e3e3;}

/* visualWrap */
#visualWrap{position:relative;width:100%;height:506px;background:url('//img.tourtips.com/images/pc/main/img_visual.jpg') center center no-repeat;overflow:hidden;}
#visualWrap .shadow{z-index:1;position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:#000;opacity:0.3;filter:alpha(opacity=30);}
#visualWrap .videoWrap{z-index:0;position:absolute;top:0;left:0;width:100%;height:506px;max-height:506px;min-height:506px;border-bottom:1px solid #999;overflow:hidden;display/*\**/:none\9;*display:none;}
#visualWrap .videoWrap video{z-index:1;min-width:100%;min-height:506px;}
#visualWrap.subVisual{height:506px;margin-top:-50px;}

/* title */
#wrap h1.bigTitle{display:block;min-height:26px;line-height:120%;color:#232323;font-size:26px;;vertical-align:middle;margin:0 0 15px;}
#wrap h1.bigTitle img{position:relative;top:-2px;width:34px;vertical-align:middle;margin-right:10px;}
#wrap h2{display:block;color:#232323;font-weight:500;font-size:19px;margin:0 0 13px;}
#wrap h2 em{color:#ff4f02;}
#wrap .titleSt02{position:relative;display:block;height:22px;line-height:22px;font-size:22px;color:#232323;font-weight:500;margin:0 0 18px;}
#wrap .titleSt02 span{font-size:13px;letter-spacing:-0.025em;font-weight:500;margin-left:20px;}
#wrap .titleSt03{position:relative;display:block;color:#232323;font-weight:500;font-size:19px;margin:0 0 20px;}
#wrap .titleSt03 em{color:#ff4f02;}
#wrap .titleSt03 i{font-style:normal;}



/* 기본 모달윈도우 */
.mw     { position:fixed; _position:absolute; z-index:99999; top:0; left:0; width:100%; height:100%}
.mw .bg { position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50)}
.mw .fg { position:absolute; top:50%; left:50%; width:360px; height:160px; margin:-100px 0 0 -200px; padding:20px; border:3px solid #ccc; background:#fff}
.mw_close{ position:absolute; top:10px; right:-43px; cursor:pointer}
.mw textarea, .mw input[type="text"]{
    padding:5px;
    background-color:#f5f5f5;
    border:1px solid #ddd;
    -webkit-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.35);
       -moz-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.35);
            box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.35)}
.mw textarea:focus, .mw input[type="text"]:focus{
    color:#666;
    background-color:#f5f5f5;
    border-color:#ddd;
    outline:0;
    /* IE6-9 */
    -webkit-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.35), 0 0 0 0 rgba(0, 0, 0, 0.35);
       -moz-box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.35), 0 0 0 0 rgba(0, 0, 0, 0.35);
            box-shadow:inset 1px 1px 1px 0 rgba(0, 0, 0, 0.35), 0 0 0 0 rgba(0, 0, 0, 0.35)}
#imagePopUp.mw .bg{opacity:0.8;filter:alpha(opacity=80);}

/* loading */
.loading{display:none;z-index:9999999;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;overflow:hidden;}
.loading .bg{z-index:0;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);}
.loading .pc{z-index:1;position:absolute;top:50%;left:50%;width:85px;height:85px;padding:10px;margin:-43px 0 0 -43px;background:#FFF;border-radius:20px;}
.loading .pc img{width:85px;height:auto;}


/* 출력관련 */
@media print {
    .mw,
    #header,
    #footer,
    .pageDesc,
    .lnb,
    .new_des_share_list,
    .editorArea,
    .recommandSpot,
    #review_area,
    .snsArea,
    #fb-root,
    .fb-like.fb_iframe_widget,
    .newCount,
    #facebook,
    .updateArea{display:none;}
    #subWrap .contents{border:none;width:100%;}
}

/* print_page */
#print_page{display:none;}


/* warningArea */
.warningArea{margin:0 0 40px;}
.warningArea h3{display:block;font:500 18px/18px "Noto Sans KR";color:#232323;margin:0 0 13px;}
.warningArea .warningBox{padding:30px;padding-bottom:15px;background:#f7f7f7;border:1px solid #e3e3e3;}
.warningArea .warningBox ul{display:block;}
.warningArea .warningBox ul:after{content:'';display:block;clear:both;}
.warningArea .warningBox li{display:block;font-size:14px;color:#666;margin:0 0 12px;}
.warningArea .warningBox li a{width:136px;height:27px;text-align:center;font:500 12px/29px "Noto Sans KR";color:#232323;padding:0;margin-left:7px;}
.warningArea .warningBox .last{margin-top:-7px;}

/* common_loading */
.common_loading{z-index:30000;display:none;position:fixed;top:50%;left:50%;margin:-67.5px 0 0 -67.5px;opacity:0.8;filter:alpha(opacity=80);}

/* error_body */
.error_body         {margin:100px 0 200px 360px}
.error_title        {font-size:18px; color:black; font-weight:600}
.error_comment  {margin-top:20px; width:550px; font-size:13px; color:#999999; letter-spacing:0; line-height:16px}
.error_comment a  {text-decoration:underline}
.error_btn          {margin-top:30px}

/* footer */
#footer{z-index:90;clear:both;position:relative;font-size:12px;color:#aaa;background:#f1f1f1;border-top:1px solid #eee;}
#footer .in{position:relative;width:1090px;margin:0 auto;}
#footer .btn_top{z-index:9999;position:fixed;bottom:75px;left:50%;margin-left:558px;display:block;width:50px;height:50px;font:normal 0/0 arial;background:#FFF url('//img.tourtips.com/images/pc/cm/spr_foot.png') 15px 14px no-repeat;border:1px solid #e3e3e3;border-radius:100%;overflow:hidden;}
#footer .foot_top{height:50px;background:#FFF;}
#footer .foot_top .tt_sns{float:right;display:inline-block;width:180px;height:50px;text-align:right;vertical-align:middle;}
#footer .foot_top .tt_sns a{display:inline-block;height:50px;font:normal 0/0 arial;text-indent:-9999em;vertical-align:middle;margin-left:32px;background:url('//img.tourtips.com/images/pc/cm/spr_foot.png') no-repeat;}
#footer .foot_top .tt_sns a.blog{width:36px;margin-left:22px;background-position:-42px -36px;}
#footer .foot_top .tt_sns a.facebook{width:20px;background-position:0 -36px;}
#footer .foot_top .tt_sns a.instagram{width:22px;background-position:-110px -36px;}
#footer .foot_top .foot_notice{float:left;display:inline-block;width:904px;height:50px;}
#footer .foot_top .foot_notice a{display:inline-block;height:50px;max-width:100%;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#footer .foot_top .foot_notice a:after{content:'';display:inline-block;width:0;height:100%;vertical-align:middle;}
#footer .foot_top .foot_notice a span{display:inline-block;vertical-align:middle;font-size:14px;color:#222;box-sizing:border-box;}
#footer .foot_top .foot_notice a span.category{height:24px;font-size:12px;color:#ff4f02;line-height:20px;border:2px solid #ff4f02;border-radius:24px;padding:0 12px;margin-right:12px;}
#footer .foot_top .foot_notice a img{vertical-align:middle;margin-left:5px;}
#footer .foot_bottom{padding:48px 0 86px 0;}
#footer .foot_bottom .tt_sites{float:right;vertical-align:middle;margin-top:-8px;}
#footer .foot_bottom .tt_sites a{position:relative;display:inline-block;line-height:1;color:#969696;font-size:13px;vertical-align:middle;padding:0 12px 0 16px;}
#footer .foot_bottom .tt_sites a:before{content:'';position:absolute;top:50%;left:0;width:1px;height:10px;margin-top:-5px;background:#d4d4d4;}
#footer .foot_bottom .tt_sites a:first-child:before{display:none;}
#footer .foot_bottom .tt_sites .choose_lang{position:relative;display:inline-block;width:108px;height:30px;vertical-align:middle;border:1px solid #ddd;box-sizing:border-box;}
#footer .foot_bottom .tt_sites .choose_lang a:before{display:none;}
#footer .foot_bottom .tt_sites .choose_lang span{position:relative;display:block;width:100%;height:100%;font-size:13px;color:#969696;line-height:28px;cursor:pointer;}
#footer .foot_bottom .tt_sites .choose_lang span:after{content:'';position:absolute;top:50%;right:10px;display:block;width:9px;height:6px;margin-top:-3px;background:url('//img.tourtips.com/images/pc/cm/spr_foot.png') -40px 0 no-repeat;}
#footer .foot_bottom .tt_sites .choose_lang img{display:inline-block;width:27px;height:auto;vertical-align:middle;margin:0 8px 0 6px;}
#footer .foot_bottom .tt_sites .choose_lang .choose_lang_layer{display:none;position:absolute;top:28px;left:-1px;width:108px;padding:4px 0;border:1px solid #ddd;box-sizing:border-box;}
#footer .foot_bottom .tt_sites .choose_lang .choose_lang_layer a{display:block;font-size:13px;color:#969696;padding:6px 0;margin:0;}
#footer .foot_bottom .tt_sites .choose_lang.on span:after{background-position:-50px 0;}
#footer .foot_bottom .tt_sites .choose_lang.on .choose_lang_layer{display:block;}
#footer .foot_bottom .foot_menu{display:inline-block;vertical-align:middle;margin-bottom:20px;}
#footer .foot_bottom .foot_menu:after{content:'';display:block;clear:both;}
#footer .foot_bottom .foot_menu a{position:relative;float:left;display:inline-block;font-size:13px;color:#777;line-height:1;vertical-align:middle;padding:0 13px;}
#footer .foot_bottom .foot_menu a:before{content:'';position:absolute;top:50%;left:0;display:block;width:1px;height:10px;margin-top:-5px;background:#d4d4d4;}
#footer .foot_bottom .foot_menu a:first-child{padding-left:0;}
#footer .foot_bottom .foot_menu a:first-child:before{display:none;}
#footer .foot_bottom .foot_menu a.privacy{color:#555;font-weight:500;}
#footer .foot_bottom .foot_menu a.suport_tt{color:#ff4f02;padding:0;margin-left:13px;border-bottom:1px solid #ff4f02;}
#footer .foot_bottom .foot_menu a.suport_tt:before{display:none;}
#footer .foot_bottom .foot_info{line-height:20px;font-size:12px;color:#aaa;}
#footer .foot_bottom .foot_info a{color:#aaa;border-bottom:1px solid #aaa;}
#footer .foot_bottom .foot_info address{display:inline;font-style:normal;}
