     <div id="subWrap">
     <div class="lnb" >
        <h1 class="bigTitle">
          <a href="/search">여행정보</a>
        </h1>
        <ul>
          <li  class="allNotice on"><a href="/search">Youtube검색</a></li>
          <li><a href="/bsearch">Blog검색</a></li>
          <li><a href="/checkList">Check List</a></li>
        </ul>

  
      </div>    
      <!-- //lnb -->
      <div class="contents">
		        검색어 : <input type="text" [(ngModel)]="searchWord" style="width:250px; height:30px ;">&nbsp;
            <button (click)="search()" style="height:30px ;" class="btn btn-outline-secondary">검색</button>
							<table *ngFor="let sc of scList" class="videoTable"> 
								<tr>
									<td>{{sc.snippet.title}}</td>
								</tr>
								<tr> 
									<br> 
						 			
								 <iframe width="480" height="270" 
								[src]="url(sc.id.videoId)|safe" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
								</iframe>
								</tr>
						</table>
      </div>
    </div>


  