     <div id="subWrap">
     <div class="lnb" >
        <h1 class="bigTitle">
          <a href="/search">여행정보</a>
        </h1>
        <ul>
          <li  class="allNotice on"><a href="/search">Youtube검색</a></li>
          <li><a href="/bsearch">Blog검색</a></li>
          <li><a href="/checkList">Check List</a></li>
        </ul>

  
      </div>    
      <!-- //lnb -->
      <div class="contents">
        <h2>Youtube검색</h2>
        <hr class="one">
        <br>
        <p style="font-size:15px;">Youtube에서 여행에 대한 정보를 검색해보세요</p>
		        <input type="text" id="ySearch" [(ngModel)]="searchWord">&nbsp;
            <button (click)="search()" style="height:35px; width: 50px;" class="btn btn-outline-danger">검색</button>        
            <table *ngFor="let sc of scList | paginate: { itemsPerPage: 5, currentPage: p }" class="videoTable"> 
								<tr>
									<td>{{sc.snippet.title}}</td>
								</tr>
								<tr> 
									<br> 
						 			
								 <iframe width="480" height="270" 
								[src]="url(sc.id.videoId)|safe" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
								</iframe>
								</tr>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      
    </div>


  